* {
    box-sizing: border-box;
}

body { 
    background-image: url(./images/websiteBackground.jpg);
    background-color: white;
    background-size: cover;
    height:700px;
    background-position: center;
    background-attachment: fixed;
}

.button {
    font-family: "Baskerville", Times, serif;
    font-size: 24px;
    color: white;
    background-color: lightcoral;
    text-align: center;
    text-decoration: none;
    border:2px solid black;
    margin-bottom: 8px;
    border-radius: 8px;
    width: 256px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: lightgray;
}

.title {
    width: fit-content;
    color:white;
    background-color: lightcoral;
    border-radius: 8px;
    text-shadow: 2px black;
    font-style: italic;
    text-align: center;
    font-size: 48px;
    padding: 8px 24px;
    margin: 20px auto;
}

div.recipeList ul {
    display:inline-block;
    list-style-type:none;
}

.recipeText {
    color:white;
    background-color: lightcoral;
    padding: 24px;
    margin: 20px;
    border-radius: 12px;
    border:2px solid black;
}

div.recipeText h2{
    text-align: center;
}

img {
    margin:20px;
    border-radius: 12px;
}

#blackBreakLine {
    display:block;
    margin: 1em 0;
}
