.button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: darkred;
    background-color: lightgray;
}
.title {
    font-style: italic;
    text-align: center;
    font-size: 48px;
}
